<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-route/angular-route.min.js"></script>
  <script src="/bower_components/angular-utils-pagination/dirPagination.js"></script>
</script>
<title>Muko Admin Panel</title>
</head>

<body ng-app="app" ng-controller="appCtrl">

  <ng-include src="templates.nav"></ng-include>

  <div ng-view class="container"></div>

  <script src="/js/app/app.js"></script>
  <script src="/js/app/controllers/adminCtrl.js"></script>
  <script src="/js/app/controllers/loginCtrl.js"></script>
  <script src="/js/app/controllers/navCtrl.js"></script>
  <script src="/js/app/controllers/userCtrl.js"></script>
  <script src="/js/app/controllers/analyticsCtrl.js"></script>
  <script src="/js/app/controllers/inviteCtrl.js"></script>
  <script src="/js/app/factory/authFactory.js"></script>
  <script src="/js/app/factory/userFactory.js"></script>
</body>

</html>