<!DOCTYPE html>
<html>

  <head>
    <title>Muko - Right music for the right mood</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Theme stylesheet -->
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
    <link href="/styles/responsive.css" rel="stylesheet" type="text/css">
    <!-- Roboto Font stylesheet -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <!-- FontAwesome stylesheet -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- LayerSlider stylesheet -->
    <link rel="stylesheet" href="/layerslider/css/layerslider.css" type="text/css">

    <link href="/styles/lightbox.css" rel="stylesheet" />

    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59748810-1', 'auto');
      ga('send', 'pageview');

    </script>

  </head>

  <body>
    <!--responsive menu placeholder-->
    <div id="followMenu">
      <div class="clear"></div>
    </div>

    <!--BEGIN TOP CONTAINER (slider&nav)-->
    <section id="topContainer">
      <div id="navigationWrap" style="margin-top: 0;">
        <div class="row">
          <div class="three-col"><img src="/images/logo.png" alt="Delicious Mint" />
          </div>
          <div class="nine-col last-col menuWrap">
            <ul class="mainMenu">
              <li><a href="#aboutContainer">About</a></li>
              <li><a href="#reviewContainer">Team</a></li>
              <li><a href="#getappContainer">Get BETA</a></li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
      </div>

      <!-- BEGIN SLIDER -->
      <div id="sliderWraper" class="row">
        <div id="layerslider" style="width: 1170px;max-width: 1170px; height: 690px;">
          <!-- first slide -->
          <div class="ls-slide">
            <img src="/images/demoimg/slider1.png" alt="Phone" class="ls-l" style="top: 30px; left: 0;" data-ls="offsetxin: 0; offsetxout : 0; offsetyin: 100; durationin: 2000" />

            <p class="ls-l sliderText" style="top: 50px; left: 550px;" data-ls="offsetxin: 0; offsetxout : 0; offsetyin: 50; durationin: 2000;">
              <span>Muko</span>
              <br/>Right music for the right mood</p>

            <a href="#aboutContainer" class="buttonBig ls-l" style="top: 300px; left: 550px;" data-ls="offsetxin: 0; offsetxout: 0; delayin: 300; offsetyin: 100; durationin: 2000;">LEARN MORE</a>

            <a href="#getappContainer" class="buttonBig ls-l" style="top: 300px; left: 750px;" data-ls="offsetxin: 0; offsetxout: 0; delayin: 300; offsetyin: 100; durationin: 2000;">GET BETA INVITE</a>
          </div>
          <!-- second slide -->
          <div class="ls-slide">
            <img src="/images/demoimg/slider2.png" alt="Phone" class="ls-l" style="top: -40px; left: 0;" data-ls="offsetxin: 0; offsetxout : 0; offsetyin: 100; durationin: 2000" />

            <p class="ls-l sliderText" style="top: 50px; left: 550px;" data-ls="offsetxin: 0; offsetxout : 0; offsetyin: 50; durationin: 2000;">
              <span>Ready for</span><br/>Wearable!
            </p>

            <a href="#aboutContainer" class="buttonBig ls-l" style="top: 300px; left: 550px;" data-ls="offsetxin: 0; offsetxout: 0; delayin: 300; offsetyin: 100; durationin: 2000;">LEARN MORE</a>

            <a href="#getappContainer" class="buttonBig ls-l" style="top: 300px; left: 750px;" data-ls="offsetxin: 0; offsetxout: 0; delayin: 300; offsetyin: 100; durationin: 2000;">GET BETA INVITE</a>
          </div>
          <!-- third slide -->
          <div class="ls-slide">
            <img src="/images/demoimg/slider3.png" alt="Phone" class="ls-l" style="top: 0px; left: 0;" data-ls="offsetxin: 0; offsetxout : 0; offsetyin: 100; rotatein: 0; durationin: 2000" />

            <p class="ls-l sliderText" style="top: 50px; left: 550px;" data-ls="offsetxin: 0; offsetxout : 0; offsetyin: 50; durationin: 2000;">
              "I feel like dancing!"
            </p>

            <a href="#aboutContainer" class="buttonBig ls-l" style="top: 300px; left: 550px;" data-ls="offsetxin: 0; offsetxout: 0; delayin: 300; offsetyin: 100; durationin: 2000;">LEARN MORE</a>

            <a href="#getappContainer" class="buttonBig ls-l" style="top: 300px; left: 750px;" data-ls="offsetxin: 0; offsetxout: 0; delayin: 300; offsetyin: 100; durationin: 2000;">GET BETA INVITE</a>
          </div>
        </div>
      </div>
      <!-- END SLIDER -->
      <div class="clear"></div>
    </section>
    <!--END TOP CONTAINER-->


    <!--BEGIN CONTENT WRAPPER-->
    <div id="contentWrapper">

      <!--ABOUT CONTAINER-->
      <section id="aboutContainer" class="section-80-130 whiteBgSection">
        <img class="triangleTop" src="/images/tri-white-top.png" alt="" />

        <h1 class="sectionTitle">Next Generation Mood-Driven<br>Music Discovery</h1>
        <div class="titleSeparator"></div>
        <!-- <h3 class="sectionDescription">For more info and support, contact us</h3> -->
        <div class="separator80"></div>

        <div class="row">

          <div class="three-col">
            <div class="iconColWrap">
              <i class="fa fa-tablet"></i>
              <h2>Easy</h2>
              <p>Voice, on the go</p>
            </div>
          </div>

          <div class="three-col last-col">
            <div class="iconColWrap">
              <i class="fa fa-play-circle"></i>
              <h2>Seamless</h2>
              <p>Plug in your existing music service</p>
            </div>
          </div>

          <div class="three-col">
            <div class="iconColWrap">
              <i class="fa fa-comments"></i>
              <h2>Expressive</h2>
              <p>Mood in your own words</p>
            </div>
          </div>

          <div class="three-col">
            <div class="iconColWrap">
              <i class="fa fa-plus-circle"></i>
              <h2>Adaptive</h2>
              <p>AI algorithms adapt to your taste</p>
            </div>
          </div>

          <div class="clear"></div>
        </div>
      </section>
      <!--END ABOUT CONTAINER-->

      <!--FEATURES CONTAINER-->
      <section id="featureContainer" class="section-80-80 grayBgSection" style="background:#fff;padding-top: 0;margin-top: -135px;">
        <!-- <img class="triangleBottom" src="/images/tri-gray-bot.png" alt="" /> -->
        <img class="triangleBottomReverse" src="/images/tri-white-top.png" alt="" />
      </section>
      <!--END FEATURES CONTAINER-->


      <!--TEAM CONTAINER-->
      <section id="reviewContainer" class="section-160-160 textureBgSection" style="background-image: url('/images/bg-texture1.jpg');margin-top: -60px;">
        <h1 class="sectionTitle">Team</h1>
        <div class="titleSeparator"></div>
        <h3 class="sectionDescription">Get to know the knights behind Muko</h3>
        <div class="separator80"></div>

        <!--TEAM wrapper-->
        <div class="row">
          <div class="eight-col prefix-two last-col testWrapper">

            <div class="userCont">
              <img src="/images/user/yanggao2.jpg" alt="Yang Gao" class="usrImg">
              <h3>Yang Gao</h3>
              <div class="userJob">Co-Founder and CEO
                <br>Semantic based
                <br>Machine Translation System
                <br>USC/ISI for DARPA</div>
            </div>
            <!--
                     -->
            <div class="userCont">
              <img src="/images/user/shaofengmo2.jpg" alt="Shaofeng Mo" class="userImg">
              <h3>Shaofeng Mo</h3>
              <div class="userJob">Co-Founder and CTO
                <br>Worked @ Amazon
                <br>Full-stack techie</div>
            </div>
            <!--
                     -->
            <div class="userCont">
              <img src="/images/user/dipankarpatro2.jpg" alt="Dipankar Patro" class="userImg">
              <h3>Dipankar Patro</h3>
              <div class="userJob">
                Worked @ Sunglass,<br>Info Assembly & Thirstt<br>
                Expert in Scalable systems
              </div>
            </div>

          </div>
          <div class="clear"></div>
        </div>
        <div id="revsNavi"></div>
      </section>

      <!--BEGIN CONTACT CONTAINER-->
      <section id="getappContainer" class="section-80-130 whiteBgSection" style="padding-bottom: 0;">
        <img class="triangleTop" src="/images/tri-white-top.png" alt="" />

        <h1 class="sectionTitle">Request BETA</h1>
        <div class="titleSeparator"></div>
        <!-- <h3 class="sectionDescription">For more info and support, contact us</h3> -->
        <div class="separator80"></div>

        <div class="row">
          <div class="seven-col prefix-one">
            <!--contact form-->
            <form name="sendmail" id="sendmail" action="/api/v1/invite" method="POST">
              <input type="text" name="name" placeholder="Your Name..." required/>
              <input type="email" name="email" placeholder="Your Email..." required/>
              <input type="text" name="affiliation" placeholder="Affiliation..." />
              <input type="hidden" name="_csrf" value="<%= _csrf %>">
              <!-- <input type="radio" name="device" value="ios">iOS<br>
              <input type="radio" name="device" value="android">Android -->
              <label><input type="radio" name="device" value="ios">IOS</label>
              <label><input type="radio" name="device" value="android">Android<span class='notiMsg'>(Please use the same email ID that you use on Google Play Store.)</span></label>
              <input type="submit" value="SEND"> <i class="fa fa-spin fa-circle-o-notch fa-form-wait" style="display: none;"></i>
            </form>
            <p id="formSubmitMessage"></p>
          </div>

          <!--contact info-->
          <div class="three-col last-col">
            <table class="footerContact">
              <tr>
                <td class="iconTd"><i class="fa del-fa fa-envelope"></i>
                </td>
                <td><a href="mailto:admin@themuko.com">admin@themuko.com</a>
                </td>
              </tr>
              <tr>
                <td class="iconTd"><i class="fa del-fa fa-phone"></i>
                </td>
                <td>+1 (213) 618-2259</td>
              </tr>
            </table>
          </div>

          <div class="clear"></div>
        </div>
        <img class="triangleBottom" src="/images/tri-white-bot.png" alt="" />
      </section>
      <!--END CONTACT CONTAINER-->


      <!--BEGIN FOOTER WRAPPER-->
      <section id="footerContainer" class="section-160-30 footer">
        <div class="separator80"></div>
        <a href="#"><img src="/images/logo.png" alt="Delicious Mint" />
        </a>
        <div class="separator80"></div>

        <a href="https://www.facebook.com/mukoteam"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/mukomusic"><i class="fa fa-twitter"></i></a>
        <!-- <a href="#"><i class="fa fa-google-plus"></i></a> -->

        <div class="separator80"></div>
        <p>Copyright &copy; 2014
          <br/>Muko, Inc
          <!-- <a href="#">Digital Science</a> -->
        </p>
        <!-- <p>
          <a href="mailto:yanggao@themuko.com">yanggao@themuko.com</a><br>
          <a href="tel:12136182259"  data-rel="external">+1 (213) 618-2259</a>
        </p> -->
      </section>
      <!--END FOOTER WRAPPER-->

    </div>
    <!--END CONTENT WRAPPER-->

    <div id="responsiveMenuToggle"><i class="fa fa-bars"></i>
    </div>

    <!-- jQuery & GreenSock -->
    <script src="http://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/layerslider/js/greensock.js" type="text/javascript"></script>

    <!-- LayerSlider script files -->
    <script src="/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
    <script src="/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>

    <!-- Lightbox -->
    <script src="/js/lightbox.min.js"></script>

    <!-- Shuffle.js (screens) -->
    <script src="/js/jquery.shuffle.modernizr.js"></script>

    <!-- Layer Slider init -->
    <script type="text/javascript">
    $(document).ready(function() {
      $('#layerslider').layerSlider({
        thumbnailNavigation: 'disabled',
        skinsPath: '/layerslider/skins/',
        navPrevNext: false,
        navStartStop: false,
        showCircleTimer: false
      });

    });
    </script>

    <!-- Theme JS -->
    <script src="/js/delicioustheme.js" type="text/javascript"></script>

  </body>

</html>
