<div class="row" ng-controller="analyticsCtrl">
  <div class="col-md-12">
    <h1>Analytics
    <small style="cursor:pointer;color:blue;" ng-click="showAnalyticsTableFunc()" ng-hide="showAnalyticsTable" >Back to Analytics</small>
    <small class="pull-right">Total: {{ analytics.length }}</small>
    </h1>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="search" placeholder="Search"/>
    </div>

    <table class="table table-striped table-bordered" ng-show="showAnalyticsTable">
      <thead>
        <th>Key</th>
        <th>Name</th>
        <th>Query</th>
        <th>TimeStamp</th>
        <th>TimeTaken by MukoAPI</th>
        <th>Playlist</th>
        <th>Songs Played</th>
      </thead>
      <tr dir-paginate="analytic in analytics | filter:search | itemsPerPage: 15" pagination-id="analytics">
        <td>{{ analytic.key }}</td>
        <td>{{ analytic.name }}</td>
        <td>{{ analytic.query }}</td>
        <td>{{ analytic.queried_at }}</td>
        <td>{{ analytic.muko_time_taken || 0 }} Sec</td>
        <td><a style="cursor:pointer;" ng-click="showPlaylists(analytic.playlist)">Playlists ({{ analytic.playlist.length || 0 }})</a></td>
        <td><a style="cursor:pointer;" ng-click="showSongsPlayed(analytic.id)">Show Details</a></td>
      </tr>
    </table>

    <dir-pagination-controls pagination-id="analytics" ng-show="showAnalyticsTable"></dir-pagination-controls>

    <table class="table table-striped table-bordered" ng-show="showPlaylistTable">
      <thead>
        <th>RadioId</th>
        <th>Song</th>
        <th>Artist</th>
        <th>Genre</th>
      </thead>
      <tr dir-paginate="playlist in playlists | filter:search | itemsPerPage: 15" pagination-id="playlists">
        <td>{{ playlist.rdioId }}</td>
        <td>{{ playlist.songName }}</td>
        <td>{{ playlist.artistName }}</td>
        <td>{{ playlist.genre }}</td>
      </tr>
    </table>

    <dir-pagination-controls pagination-id="playlists" ng-show="showPlaylistTable"></dir-pagination-controls>

    <table class="table table-striped table-bordered" ng-show="showSongsTable">
      <thead>
        <th>SongId</th>
        <th>Song Name</th>
        <th>Buffering Time</th>
        <th>Played For</th>
      </thead>
      <tr dir-paginate="song in songs | filter:search | itemsPerPage: 15" pagination-id="songs">
        <td>{{ song.songID }}</td>
        <td>{{ song.songName }}</td>
        <td>{{ song.buffering_time || 0 }} Sec</td>
        <td>{{ song.playback_time || 0 }} Sec</td>
      </tr>
    </table>

    <dir-pagination-controls pagination-id="songs" ng-show="showSongsTable"></dir-pagination-controls>

  </div>
</div>