<div class="row" ng-controller="inviteCtrl">
  <div class="col-md-12">
    <h1>Invites<small class="pull-right">Total: {{ invites.length }}</small></h1>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="search" placeholder="Search"/>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Affiliation</th>
        <th>Device</th>
      </thead>
      <tr dir-paginate="invite in invites | filter:search | orderBy:sortCriteria | itemsPerPage: 10">
        <td>{{ invite.name }}</td>
        <td>{{ invite.email }}</td>
        <td>{{ invite.affiliation }}</td>
        <td>{{ invite.device }}</td>
      </tr>
    </table>

    <dir-pagination-controls></dir-pagination-controls>

  </div>
</div>