<div class="row" style="padding-top: 200px;">
  <div class="col-md-offset-4 col-md-4">
    <div class="alert alert-danger" ng-show="error" ng-bind="errorMsg">
      There was a problem logging in. Please try again.
    </div>
    <div class="well">
      <form role="form" ng-submit="login()">
        <div class="form-group">
          <label for="username">Username:</label> <input type="text"
          class="form-control" id="loginEmail" name="username" ng-model="credentials.email"/>
        </div>
        <div class="form-group">
          <label for="password">Password:</label> <input type="password"
          class="form-control" name="password" ng-model="credentials.password"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>