<nav class="navbar navbar-default" ng-controller="navCtrl" ng-show="isAuthenticated" ng-cloak>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Admin Panel</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: isLinkActive('/admin/user')}"><a href="#/admin/user">Users</a></li>
        <li ng-class="{ active: isLinkActive('/admin/invite')}"><a href="#/admin/invite">Invites</a></li>
        <li ng-class="{ active: isLinkActive('/admin/analytics')}"><a href="#/admin/analytics">Analytics</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>Welcome, <div class="badge">{{ token.user.email }}</div></a></li>
        <li><a href="#/login" ng-click="logout()">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>