<div class="row" ng-controller="userCtrl">
  <div class="col-md-12">
    <h1>Users<small class="pull-right">Total: {{ users.length }}</small></h1>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="search" placeholder="Search"/>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
        <th>Name</th>
        <th>Genres Selected</th>
        <th>Artists Selected</th>
        <th>Song Votes</th>
      </thead>
      <tr dir-paginate="user in users | filter:search | orderBy:sortCriteria | itemsPerPage: 10">
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.genres_selected.toString() }}</td>
        <td>{{ user.artists_selected.toString() }}</td>
        <td>{{ JSON.stringify(user.songsThumbInfo) }}</td>
      </tr>
    </table>

    <dir-pagination-controls></dir-pagination-controls>

  </div>
</div>